*{
    box-sizing: border-box;
}
body {
    position: relative;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.menu{
    display: none;
}

.header{
    position: relative;
}

.container {
    
    display: flex;
    justify-content: center;
    gap: 40px;
}
img {
    width: 600px;
    height: auto;
    border-radius: 20px;
}
.left-bar {
    width: 360px;
    background-color: tomato;
    border-radius: 20px;
    padding: 10px;
    color: white;
    padding-left: 30px;
}
.texts {
    font-size: 12px;
    color: whitesmoke;
    margin-top: 40px;
    letter-spacing: 4px;
}
.texts2 {
    font-size: 19px;
    margin: 0px;
}
.texts1 {
    font-size: 12px;
    color: whitesmoke;
    letter-spacing: 5px;
    margin-top: 90px;
}
.icons i {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.link {
    color: whitesmoke;
}
.texts3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 19px;
    letter-spacing: 2px;
}

.title {
    color: tomato;
    text-align: center;
    font-size: 80px;
    margin: 0px;
}
.info {
    text-align: center;
    font-size: 22px;
}
.dtext {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.toptext {
    color: #727272;
    font-weight: 600;
    letter-spacing: 2px;
}

.toptext2 {
    color: tomato;
    font-weight: 600;
    font-size: 80px;
    margin: 0px;
}
.btn {
    width: 600px;
    background-color: tomato;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom:20px;
}
.btn:hover {
    background-color: rgb(255, 129, 107);
    cursor: pointer;
}

@media only screen and (max-width: 1060px){
    .header{
        margin-top: 20px;
    }
    .header h1{
        font-size: 50px;
    }
    .header .head{
        display: flex;
        justify-content: space-between;
        place-items: center;
    }
    .show{
        left: 0 !important ;
    }
    .rotate{
        transform: rotate(360deg);
        transition: all 500ms ease;
    }
    .menu{
        z-index: 100;
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .title{
        text-align: left;
    }
    .left-bar{
        position: absolute;
        bottom: 0;
        left: -400px;
        margin: 0;
        width: 400px;
        height: 100%;
        border-radius: 0;
        transition: all 400ms ease-in-out;
    }
    .image{
        text-align: center;
    }
    .image img{
        text-align: center;
        width: clamp(300px,70vw,600px); 
    }
    .right-bar{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}